/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	height: 100%;
	line-height: 1;
}	
ol, ul {
	list-style: none;
}

/* Common */
html {
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-o-text-size-adjust:none;
	overflow: hidden;
}
body {
	display: grid;
	grid-template-rows: auto 1fr;
	font-family: -apple-system, BlinkMacSystemFont, "SpoqaHanSansNeo", sans-serif,  "Apple Gothic", "Apple SD Gothic Neo" !important;
	font-size: 16px;
	letter-spacing: -0.5px;
	background-color:#e4ebf3;
}

/* Header */
.header {
	--header-font-size: 4vw;
	--header-font-weight: 500;
	height: 16vw;
	max-height: 74px;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2vw;
	color: #1f262e;
	font-size: var(--header-font-size);
	overflow: hidden;
}
.header_back {
	height: 1.2em;
	margin-bottom: -0.25em;
}
.header_logo {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	font-weight: 500;
}
.header_logo img {
	width: calc(var(--header-font-size) + 8px);
	aspect-ratio: 1;
	object-fit: contain;
}
.header_list svg {
	width: 7vw;
	max-width: 28px;
	aspect-ratio: 1;	
}

/* Contents */
#wrap {
	--main-font-size-4: 1.25rem;
	--main-font-size-3: 1.0625rem;
	--main-font-size-2: 0.9375rem;
	--main-font-size-1: 0.85rem;
	--main-font-size-base: 0.875rem;
	--main-text-bold: 700;
	--main-thumb-width : 1.35in;
	--button-size : 44px;
	--footer-height: 44px;

	padding: 0 1rem 44px;
}

.box_main {
	position: relative;
	width: 100%;
	max-width:266.25pt;
	height:calc(100% - var(--button-size) - 3rem);
	margin: 0 auto;
	padding: 2rem 1.125rem 3rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: #35353D;
	font-size: var(--main-font-size-base);
	border-radius: 1rem;
	background-color:#fff;
	box-shadow:0 0 1px rgba(20,24,38,.04);
}

.box_main .name {
	font-size: var(--main-font-size-4);
	font-weight: var(--main-text-bold);
}
.box_main .switch {
	position: absolute;
	top: calc((var(--main-thumb-width) * 1.2) + 3.75rem);
	right: 1.125rem;
}
.box_main .num {
	font-size: var(--main-font-size-3);
	font-weight: var(--main-text-bold);
}

.main_thumb {
	width: var(--main-thumb-width);
	margin: 0 auto 1.125rem;
	aspect-ratio: 2.5 / 3;
	background-color: #eee;
	overflow: hidden;
}
.main_thumb > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main_bottom {
	margin-top: auto;
	text-align: center;
}
.main_bottom time {
	font-size: var(--main-font-size-1);
	font-weight: var(--main-text-bold);
	letter-spacing: 0;
}
.main_bottom p {
	margin-top: 0.75rem;
	font-size: var(--main-font-size-2);
}
.button_wrap {
	max-width:266.25pt;
	margin: 0.75rem auto 0;
	padding: 0 0.5rem;
}
.button_wrap .back {
	position: relative;
	width: var(--button-size);
	height: var(--button-size);
	border:0;
	border-radius: 50%;
	background-color: #fff;
	box-shadow:0 0 1px rgba(20,24,38,.02), 0 1rem 1rem 0.1rem rgba(20,24,38,.12);
}
.button_wrap .back > span {
	width: calc(var(--button-size) * 0.5);
	height: calc(var(--button-size) * 0.5);
	display: inline-block;
	font-size: 0;
	text-indent: -9999px;
	background: url(icon_back.png) no-repeat center;
	background-size: 100%;
	overflow: hidden;
}
/* Footer */
#footer {
	width: 100%;
	height: var(--footer-height);
	position: fixed;
	bottom: 0;
	left: 0;
	background:linear-gradient(400deg,#56b4ce,#8656e6 90%);
}
.marquee {
	display: flex;
	gap: 4px;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
}
.marquee p {
	line-height: var(--footer-height);
	color:#fff;
	font-size:0.75rem;
	font-weight: 300;
	opacity:60%;
	animation: loopText 5s infinite linear;
}

@keyframes loopText {
	from { transform: translateX(0); }
	to { transform: translateX(-100%);}
}

/* Switch */
.switch {
	position: relative;
	display: inline-block;
	width: 62px;
	height: 28px;
	vertical-align:middle;
}

.switch input[type=checkbox] {
	display:none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 9px;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: calc(100% - 2px);
	left: 1px;
	bottom: 1px;
	aspect-ratio: 1;
	border-radius: inherit;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #ccc;
}

input:focus + .slider {
	box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
	-webkit-transform: translateX(34px);
	-ms-transform: translateX(34px);
	transform: translateX(34px);
}

@media (min-width:430px) {
	.header {
		--header-font-size: 1.125rem
		--header-font-weight: 500
	}
}